# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.mo
db.sqlite3
*.sqlite3

#Model
*.pkl

# Virtual env
venv/
env/
.venv/

# Django static & media
staticfiles/
media/

# Node (React)
node_modules/
build/
dist/

# Env
.env
*.env

# OS
.DS_Store
Thumbs.db
